@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    border: none;
    outline: none;
}

body {
    display: flex;
}

.sidebar {
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 108px;
    height: 100vh;
    padding: 0 1.7rem;
    color: #fff;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    background: rgb(0, 0, 5);
}

.sidebar:hover {
    width: 240px;
}

.logo {
    height: 80px;
    padding: 16px 1px;
}

.logo img {
    width: 40px;
}
 
.menu {
    height: 86%;
    position: relative;
    list-style: none;
    padding: 0;
}

.menu li {
    padding: 1rem;
    margin: 8px 0;
    border-radius: 8px;
    transition: all 0.4s ease-in-out;
}

.menu li:hover, .active {
    background: #e0e0e058;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.menu a span {
    overflow: hidden;
}

.menu a i {
    font-size: 1.1rem;
}

.logout {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}


/* Main Section */
.main-content {
    position: relative;
    background: #ebe9e9;
    width: 100%;
    padding: 1rem;
}

.header-wrapper img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    flex-wrap: wrap;
    border-radius: 10px;
    padding: 10px 2rem;
    margin-bottom: 1rem;
    /* box-shadow: 0 0 25px #aba7a7; */
}

.header-title {
    color: rgb(0, 0, 90);
}

.user-info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.search-box {
    background: rgb(237, 237, 237);
    border-radius: 15px;
    color: rgb(0, 0, 90);
    display: flex;
    align-items: center;
    gap: 10px;
    padding:4px 12px;
}

.search-box input {
    background:transparent;
    padding: 10px;
}

.search-box i {
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.search-box i:hover {
    transform: scale(1.2);
}


/* Cards Container */

.card-container {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.main-title {
    color: rgb(0, 0, 90);
    padding-bottom: 10px;
    font-size: 15px;
}

.payment-card {
    background: rgb(229, 223, 223);
    /* background: rgb(255, 56, 56); */
    /* color: #fff; */
    border-radius: 10px;
    padding: 1.2rem;
    width: 290px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
}

.payment-card:hover {
    transform: translateY(-5px);
    /* box-shadow: 0px 5px 5px #000; */
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.amount {
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
}

.title {
    font-size: 12px;
    font-weight: 600;
}

.amount-value {
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

.icon {
    color: #FFF;
    padding: 1rem;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50%;
    font-size: 1.5rem;
    background-color: #f00;
}

.card-details {
    font-size: 18px;
    font-weight: 600;
    color: #777;
    letter-spacing: 2px;
    font-family: 'Courier New', Courier, monospace;
}


/* Color CSS */
.light-red {
    background-color: rgb(251, 233, 233);
}

.light-purple {
    background-color: rgb(254, 226, 254);
}

.light-green {
    background-color: rgb(235, 254, 235);
}

.light-blue {
    background-color: rgb(236, 236, 254);
}

.dark-red {
    background-color: red;
}

.dark-purple {
    background-color: purple;
}

.dark-green {
    background-color: green;
}

.dark-blue {
    background-color: blue;
}


/* table-wrappper */

.table-wrappper {
    background-color: #fff;
    margin-top: 1rem;
    border-radius: 10px;
    padding: 2rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background: rgb(0, 0, 40);
    color: #fff;
}

th {
    padding: 15px;
    text-align: left;
}

tbody {
    background: #dedede;
}

td {
    padding: 15px;
    font-size: 14px;
    color: #333;
}

tr:nth-child(even) {
    background: #fff;
}

tfoot {
    background: rgb(0, 0, 40);
    font-weight: bold;
    color: #fff;
}

tfoot td {
    padding: 15px;
    color: #fff ;
}

.table-container button {
    color: #FFF;
    background: green;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 600;
}

.table-container button:hover {
    background-color: rgb(0, 83, 0);
}
















